<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss02</key>
	<string>J_.ss02.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.ss02</key>
	<string>at.ss02.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.cap</key>
	<string>braceleft.cap.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.cap</key>
	<string>braceright.cap.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circleddigiteight</key>
	<string>circleddigiteight.glif</string>
	<key>circleddigitfour</key>
	<string>circleddigitfour.glif</string>
	<key>circleddigitseven</key>
	<string>circleddigitseven.glif</string>
	<key>circleddigitsix</key>
	<string>circleddigitsix.glif</string>
	<key>circleddigitthree</key>
	<string>circleddigitthree.glif</string>
	<key>circleddigittwo</key>
	<string>circleddigittwo.glif</string>
	<key>circleddigitzero</key>
	<string>circleddigitzero.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>f.ss03</key>
	<string>f.ss03.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.cap</key>
	<string>guillemotleft.cap.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.cap</key>
	<string>guillemotright.cap.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.cap</key>
	<string>guilsinglleft.cap.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.cap</key>
	<string>guilsinglright.cap.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ss01</key>
	<string>j.ss01.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>k.ss02</key>
	<string>k.ss02.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.ss03</key>
	<string>n.ss03.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.ss01</key>
	<string>p.ss01.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.cap</key>
	<string>questiondown.cap.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.ss02</key>
	<string>seven.ss02.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>squareddigiteight</key>
	<string>squareddigiteight.glif</string>
	<key>squareddigitfour</key>
	<string>squareddigitfour.glif</string>
	<key>squareddigitseven</key>
	<string>squareddigitseven.glif</string>
	<key>squareddigitsix</key>
	<string>squareddigitsix.glif</string>
	<key>squareddigitthree</key>
	<string>squareddigitthree.glif</string>
	<key>squareddigittwo</key>
	<string>squareddigittwo.glif</string>
	<key>squareddigitzero</key>
	<string>squareddigitzero.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ss03</key>
	<string>t.ss03.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.ss02</key>
	<string>three.ss02.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u.ss03</key>
	<string>u.ss03.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>www</key>
	<string>www.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.ss01</key>
	<string>y.ss01.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
