<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adieresis.ss01</key>
	<string>Adieresis_.ss01.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CC.ss06</key>
	<string>CC_.ss06.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>EL.ss06</key>
	<string>EL_.ss06.glif</string>
	<key>ER.ss06</key>
	<string>ER_.ss06.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Eacute.ss01</key>
	<string>Eacute_.ss01.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edieresis.ss01</key>
	<string>Edieresis_.ss01.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IKOB</key>
	<string>IKOB_.glif</string>
	<key>IKOB_logo</key>
	<string>IKOB__logo.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss02</key>
	<string>J_.ss02.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odieresis.ss01</key>
	<string>Odieresis_.ss01.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>ST.ss06</key>
	<string>ST_.ss06.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T_h</key>
	<string>T__h.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udieresis.ss01</key>
	<string>Udieresis_.ss01.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.ss01</key>
	<string>agrave.ss01.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.01</key>
	<string>ampersand.01.glif</string>
	<key>ampersand.02</key>
	<string>ampersand.02.glif</string>
	<key>ampersand.03</key>
	<string>ampersand.03.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.ss02</key>
	<string>at.ss02.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.ss01</key>
	<string>b.ss01.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.cap</key>
	<string>braceleft.cap.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.cap</key>
	<string>braceright.cap.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.cap</key>
	<string>bracketleft.cap.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.cap</key>
	<string>bracketright.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>checkbox</key>
	<string>checkbox.glif</string>
	<key>checkboxchecked</key>
	<string>checkboxchecked.glif</string>
	<key>circleddigiteight</key>
	<string>circleddigiteight.glif</string>
	<key>circleddigitfive</key>
	<string>circleddigitfive.glif</string>
	<key>circleddigitfour</key>
	<string>circleddigitfour.glif</string>
	<key>circleddigitnine</key>
	<string>circleddigitnine.glif</string>
	<key>circleddigitone</key>
	<string>circleddigitone.glif</string>
	<key>circleddigitseven</key>
	<string>circleddigitseven.glif</string>
	<key>circleddigitsix</key>
	<string>circleddigitsix.glif</string>
	<key>circleddigitten</key>
	<string>circleddigitten.glif</string>
	<key>circleddigitthree</key>
	<string>circleddigitthree.glif</string>
	<key>circleddigittwo</key>
	<string>circleddigittwo.glif</string>
	<key>circleddigitzero</key>
	<string>circleddigitzero.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>cloud</key>
	<string>cloud.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.ss01</key>
	<string>eacute.ss01.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.cap</key>
	<string>emdash.cap.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.cap</key>
	<string>endash.cap.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.cap</key>
	<string>exclamdown.cap.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>f.ss03</key>
	<string>f.ss03.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fwd:ampersand</key>
	<string>fwd:ampersand.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ss02</key>
	<string>g.ss02.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.cap</key>
	<string>guillemotleft.cap.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.cap</key>
	<string>guillemotright.cap.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.cap</key>
	<string>guilsinglleft.cap.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.cap</key>
	<string>guilsinglright.cap.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.cap</key>
	<string>hyphen.cap.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ss01</key>
	<string>j.ss01.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>k.ss02</key>
	<string>k.ss02.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.ss03</key>
	<string>n.ss03.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.ss03</key>
	<string>one.ss03.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.ss01</key>
	<string>p.ss01.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.cap</key>
	<string>parenleft.cap.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.cap</key>
	<string>parenright.cap.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.cap</key>
	<string>periodcentered.cap.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.ss01</key>
	<string>q.ss01.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.cap</key>
	<string>questiondown.cap.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.ss02</key>
	<string>seven.ss02.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slash.01</key>
	<string>slash.01.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>squareddigiteight</key>
	<string>squareddigiteight.glif</string>
	<key>squareddigitfive</key>
	<string>squareddigitfive.glif</string>
	<key>squareddigitfour</key>
	<string>squareddigitfour.glif</string>
	<key>squareddigitnine</key>
	<string>squareddigitnine.glif</string>
	<key>squareddigitone</key>
	<string>squareddigitone.glif</string>
	<key>squareddigitseven</key>
	<string>squareddigitseven.glif</string>
	<key>squareddigitsix</key>
	<string>squareddigitsix.glif</string>
	<key>squareddigitten</key>
	<string>squareddigitten.glif</string>
	<key>squareddigitthree</key>
	<string>squareddigitthree.glif</string>
	<key>squareddigittwo</key>
	<string>squareddigittwo.glif</string>
	<key>squareddigitzero</key>
	<string>squareddigitzero.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>sunbehindcloud</key>
	<string>sunbehindcloud.glif</string>
	<key>sunrayswhite</key>
	<string>sunrayswhite.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ss03</key>
	<string>t.ss03.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.ss02</key>
	<string>three.ss02.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.ss03</key>
	<string>u.ss03.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>umbrella</key>
	<string>umbrella.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.ss02</key>
	<string>v.ss02.glif</string>
	<key>velvetyne</key>
	<string>velvetyne.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>www</key>
	<string>www.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.ss01</key>
	<string>y.ss01.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
