<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@WVY</key>
	<dict>
		<key>@G</key>
		<integer>-80</integer>
		<key>@lc</key>
		<integer>-120</integer>
		<key>@round_lc</key>
		<integer>-200</integer>
		<key>@round_uc</key>
		<integer>-80</integer>
		<key>@uc_A</key>
		<integer>-220</integer>
	</dict>
	<key>@lc</key>
	<dict>
		<key>@WVY</key>
		<integer>-120</integer>
		<key>T</key>
		<integer>-180</integer>
	</dict>
	<key>@round_lc</key>
	<dict>
		<key>@WVY</key>
		<integer>-180</integer>
		<key>T</key>
		<integer>-150</integer>
	</dict>
	<key>@round_uc</key>
	<dict>
		<key>@WVY</key>
		<integer>-60</integer>
		<key>@uc_A</key>
		<integer>-80</integer>
	</dict>
	<key>@uc_A</key>
	<dict>
		<key>@G</key>
		<integer>-80</integer>
		<key>@WVY</key>
		<integer>-220</integer>
		<key>@round_uc</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>-180</integer>
		<key>asterisk</key>
		<integer>-200</integer>
		<key>v</key>
		<integer>-200</integer>
	</dict>
	<key>@uc_U</key>
	<dict>
		<key>@uc_A</key>
		<integer>-80</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>U</key>
		<integer>-80</integer>
		<key>Y</key>
		<integer>-280</integer>
		<key>asterisk</key>
		<integer>0</integer>
		<key>w</key>
		<integer>-200</integer>
		<key>y</key>
		<integer>-200</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@lc</key>
		<integer>-140</integer>
		<key>@round_lc</key>
		<integer>-180</integer>
		<key>@uc_A</key>
		<integer>-200</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@lc</key>
		<integer>-80</integer>
		<key>@round_lc</key>
		<integer>-70</integer>
		<key>@uc_A</key>
		<integer>-80</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@round_lc</key>
		<integer>-100</integer>
		<key>@round_uc</key>
		<integer>-100</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>asterisk</key>
		<integer>-400</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>X</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-120</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@uc_A</key>
		<integer>-200</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@round_lc</key>
		<integer>-100</integer>
		<key>@round_uc</key>
		<integer>-80</integer>
		<key>G</key>
		<integer>-80</integer>
		<key>T</key>
		<integer>-80</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@lc</key>
		<integer>-180</integer>
		<key>@round_lc</key>
		<integer>-150</integer>
		<key>@uc_A</key>
		<integer>-160</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@round_uc</key>
		<integer>-40</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>@uc_A</key>
		<integer>-200</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@uc_A</key>
		<integer>-250</integer>
	</dict>
</dict>
</plist>
